# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnpm-store

# Next.js build output
/.next/
/out/

# Production build files
.next/

# Static HTML export files
out/

# Miscellaneous
.DS_Store
*.pem

# Node.js server output
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment variables
.env*.local
.env

# IDEs and editors
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Cache files
.eslintcache

# Next.js specific
next-env.d.ts

